# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~

# ignore .idea folder
/.idea/

# ignore .settings folder
.settings/

# ignore .files
*.zip

#Ignore Less Files
*.less

#ignore font files
fonts/

#Ignore Users Directory
Users/

#Ignore class files
*.class

#Ignore out files
*.out

#Ignore war files
*.war